 #headersoutinfo{
        height: 84px;
        background-color:#DD8F99;
    }
    #headertablesoutinfo{
        display: table;
        margin: 0 auto;
        overflow: hidden;
    }
    #linkmenusoutinfo{
        min-width: 696px;
        padding: 20px 16px;
        display: inline;
        font-size: 20;
    }
    a{
        text-decoration: none;
    }


body{

	background-image="lol.gif";
	}
